a.menu:link {
font-family : Arial, Serif; 
font-size : 11px; 
font-weight : bold; 
color : #000000; 
text-decoration : none; 
} 
a.menu:visited {
font-family : Arial, Serif; 
font-size : 11px; 
font-weight : bold; 
color : #666666; 
text-decoration : none; 
} 
a.menu:hover {
font-family : Arial, Serif; 
font-size : 11px; 
font-weight : bold; 
color : #003300; 
text-decoration : underline; 
} 
a.menu:active {
	font-family : Arial, Serif;
	font-size : 11px;
	font-weight : bold;
	color : #FF0000;
	text-decoration : none;
}
BODY 
{scrollbar-face-color: #D5DBBF; scrollbar-shadow-color: #000000; 
scrollbar-highlight-color: #000000; scrollbar-3dlight-color: #D5DBBF; 
scrollbar-darkshadow-color: #D5DBBF; scrollbar-track-color: #D5DBBF;
scrollbar-arrow-color: #000000}
a.menu2:link {
font-family : Arial, Serif;  
font-weight : bold; 
color : #000000; 
text-decoration : none; 
} 
a.menu2:visited {
font-family : Arial, Serif; 
font-weight : bold; 
color : #666666; 
text-decoration : none; 
} 
a.menu2:hover {
font-family : Arial, Serif; 
font-weight : bold; 
color : #003300; 
text-decoration : underline; 
} 
a.menu2:active {
	font-family : Arial, Serif;
	font-weight : bold;
	color : #FF0000;
	text-decoration : none;